@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

:root {
    --color-red: #BE0019;
    --color-yellow: #F0C567;
    --color-blue: #003E83;
}

/* Standardized Page Header Styles */
.page-header-container {
  display: flex;
  align-items: center;
}

.page-logo {
  width: 75px;
  margin-right: 20px;
}

.global-header {
  font-size: 3rem;
  color: #be0019;
}

/* Standardized Page Header Styles */
.page-header-container {
  display: flex;
  align-items: center;
}

.page-logo {
  width: 75px;
  margin-right: 20px;
}

.global-header {
  font-size: 2rem;
  color: #be0019;
}